/* Index Section */

* {
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: bisque;
}

h1.index{
    font-size: 100px;
    text-align: center;
    margin: 0px;
 
}

div.list{
    text-align: center;
    color: black;
}

button.index{
    margin: 20px;
    font-size: 50px;
    border-radius: 10px;
    border-width: 10px;
    background-color: bisque;
}

.list button a{
    color: black;
    text-decoration:none;
    font-weight: bold;
}

/* Recipe Section */

h1.page{
    font-size: 80px;
    text-align: center;
    margin: 0px;
}

.recipe-image{
    max-width: 90%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 15px solid;
    border-radius: 15px;
}


h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 3;
}

p, ul, ol{
    text-align:left;
    font-size: 20px;
    font-weight: 510;
    text-wrap:pretty;
    max-width: 90%;
    margin-bottom: 0;
}

p{
    text-align: center;
}

.container.desc, .container.ing, .container.steps{
    display: flex;
    justify-content: center;
}





